@import '../../scss/_variables';

.container{
    .button {
        margin-top: 1rem;
        width: 100% ;
        font-size: 1.3rem;
        background-color: $main-color;
        border-color: $light-color;
        height: 4rem;
        color: $light-color !important;
        letter-spacing: 1px;
        
        &:hover {
            background-color: $light-color !important;
            border-color: $main-color !important;
            color: $main-color !important;
        }
    }
}