@import '../../scss/_variables';

.form{
    
    margin-block: 4rem;
    h3 {
        text-align: center;
        margin-block: 4rem;
        font-size: 2.5rem;
    }
    label {
        font-size: 1.4rem;
    }

    input {
        height: 4.5rem;
        font-size: 1.6rem;
    }


    button {
        margin-top: 1rem;
        width: 100%;
        font-size: 1.6rem;
        background-color: $main-color;
        border-color: $light-color;
        height: 4rem;

        &:hover {
            background-color: $light-color !important;
            border-color: $main-color !important;
            color: $main-color !important;
        }
    }

}