*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html{
  font-size: 62.5%;
 
}
.swal2-popup {
  font-size: 1.5rem !important;
  font-family: Georgia, serif;
}
.link{
  text-decoration: none;
}

ul{
  list-style: none;
}


