@import '../../scss/_variables';
.card{
    margin-bottom: 3rem;
    .cardTitle{
        text-align: center;
        margin-block: 1.6rem;
    }
    .navLink {
        cursor: pointer;
        color: $second-color;

        &:hover {
            color: $main-color;
        }
    }
    .listGroup{
        font-size: 1.6rem;
        margin-inline: 1rem;
        .listGroupItem{
            border: none;
            margin: 0.8rem 1rem;
            &:hover{
                cursor: pointer;
            }
        }
    }
}