.footer{

    a{
        text-decoration: none;
    }
    font-size: 1.5rem;
    background-color: #ff6600;
    color: #fff;
    padding-top: 1rem;
    .catName{
        font-size: 1.6rem;
    }
    .brandName{
        
        font-size: 3rem;
    }
    .logo{
        width: 11rem;
        height: 11rem;
        text-align: center;
    }
}