@import '../../scss/variables';
.sidebar{
    margin-bottom: 3rem;
    .text{
        color: $second-color;
        font-weight: 400;
        padding: 10px;
        &:hover{
            color: $main-color;
        }
    }
}