@import '../../scss/variables';
.promotion{
    margin-block: 3rem;
    h1{
        font-size: 3rem;
        margin-bottom: 4rem;
        margin-top: 0;
    }
    .card{
        margin-bottom: 3rem;
        border: none;
        .cardTitle{
            font-size: 1.8rem;
            font-weight: bold;
            &:hover{
                cursor: pointer;
                color: $main-color;
            }
        }
        .cardBody{
            font-size: 1.6rem;
            b{
                color: $main-color;
            }
        }
        .cardImg{
            
        }
    }
    .pagination{
      display: flex;
      justify-content: center;
      margin-top: 3rem;
  
      a {
        font-size: 1.5rem;
  
        padding: 6px 16px;
  
      }
  
      .paginationActive {
        .paginationLinkActive {
          color: $light-color !important;
          background-color: $main-color;
          border: 0.2px solid $main-color;
  
        }
      }
  
      .paginationItem {
  
        .paginationLinkItem {
          color: $main-color;
          border: 0.2px solid $main-color;
          text-decoration: none;
          margin-inline: 1.5px;
          border-radius: 4px;
  
          &:hover {
            color: $light-color !important;
            background-color: $main-color;
          }
        }
      }
    }
   
}